html, body {
    /* margin: 150px; */
    margin: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .parent {
    background-color: #866f51;
    width: 400px;
    height: 500px;
    display: flex;
    gap: 20px;
    margin: 20px 0px;
    flex-wrap: wrap;
}

.child {
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    font-weight: bold;
    text-align: center;
    line-height: 100px;
}

header {
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: 20px 0px;
}

.logo {
    font-size: 30px;
    color: #fff;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 0px;
    padding: 0px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.intro {
    width: 400px;
    background-color: #c3c3c3;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
}

.intro h2, .intro p {
    margin: 0px;
} */

main {
    width: 70%;
}

header {
    background-color: #dedfdc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.logo {
    width: 60px;
    height: 60px;
    background-color: #bebdc0;
    border-radius: 50%;
}

nav ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li {
    width: 150px;
    height: 40px;
    background-color: #bebdc0;
    border-radius: 10px;
}

.content {
    display: flex;
    justify-content: space-between;
    margin: 30px 0px 0px 0px;
    gap: 30px;
}

.single-block {
    width: calc(100% / 3);
}

.image-block {
    background-color: #dedfdc;
    width: 100%;
    height: 250px;
}

.title {
    width: 70%;
    height: 25px;
    background-color: #bebdc0;
    border-radius: 10px;
}

.paragraph {
    width: 100%;
    height: 15px;
    background-color: #d4d4d4;
    border-radius: 10px;
}