.frame{
    background-color: lightgray;
    margin: 15px 10px;
    padding: 5px 30px;
    width: 400px;
}

h1{
    background-color: gray;
    padding: 10px 20px;
    font-size: 35px;
    margin-bottom: 0px;
}

.nav{
    background-color: gray;
    text-align: center;
    padding: 10px 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;
}
.ban{
    background-color: gray;
    text-align: center;
    padding: 10px 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;
}

.left{
    background-color: gray;
    display: inline;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 50px 30px;
    float: left;
    

}
.right{
    background-color: gray;
    display: inline;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 30px 50px;
    float: right
}
.footer{
    background-color: gray;
    text-align: center;
    padding: 10px 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;
}



