.frame{
    background-color: lightgray;
    margin: 15px 10px;
    padding: 5px 30px;
    width: 400px;
}

h1{
    background-color: gray;
    padding: 10px 20px;
    font-size: 35px;
    margin-bottom: 0px;
}

.nav{
    background-color: gray;
    text-align: center;
    padding: 10px 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;
}
.ban{
    background-color: gray;
    text-align: center;
    padding: 10px 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;
}

.body_container {
    display: block;
    padding: 0;
}

.left{
    display: inline-block;
    background-color: gray;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 50px 15px;
}
.right{
    display: inline-block;
    background-color: gray;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 50px 60px;
}
.footer{
    background-color: gray;
    text-align: center;
    padding: 10px 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;
}



