body {
    margin: 50px;
    font-family: sans-serif;
}

/* #parent { */
    /* width: 900px;
    display: grid;
    gap: 10px; */
    /* grid-template-columns: 200px 200px 200px 200px; */
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    /* grid-template-columns: repeat(4, 1fr); */
/* } */

/* .box {
    /* width: 100px; */
    /* height: 100px; */
    line-height: 100px;
    text-align: center;
    background-color: #d63031;
    color: #ffffff; */
/* } */
/* .box-1 {
    grid-column-start: 1;
    grid-column-end: 4;
}
.box-3 {
    grid-row-start: 2;
    grid-row-end: 4;
}

.box-10 {
    grid-column-start: 1;
    grid-column-end: 5; */

    /* grid-column: grid-column-start / grid-column-end;
    grid-row: grid-row-start / grid-row-end; */
    /* grid-area: grid-column-start / grid-column-end / grid-row-start / grid-row-end;
    grid-area: grid-column / grid-row; */
/* } */

.parent {
    width: 900px;
    height: 2000px;
    background-color: #f1c40f;
    position: relative;
}

.box {
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: #d63031;
    color: #fff;
    position: relative;
    left: 20px;
    z-index: 2;
}

.box-2 {
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: rebeccapurple;
    color: #fff;
    position: absolute;
    right: 0px;
}

.box-3 {
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: #2c3e50;
    color: #fff;
    position: fixed;
    left: 0;
    top: 0;
}

.sticky {
    background-color: #d35400;
    width: 100%;
    height: 80px;
    position: sticky;
    top: 10px;
}